<div class="card">
  <div class="card__media">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        {{ product.featured_image | image_url: width: 400 | image_tag: 
           alt: product.featured_image.alt | escape,
           loading: 'lazy'
        }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
      {% endif %}
    </a>
    
    {% unless product.available %}
      <div class="card__badge card__badge--sold-out">Épuisé</div>
    {% else %}
      {% if product.compare_at_price > product.price %}
        <div class="card__badge card__badge--sale">Promo</div>
      {% endif %}
    {% endunless %}
  </div>

  <div class="card__content">
    <div class="card__information">
      <h3 class="card__heading">
        <a href="{{ product.url }}">{{ product.title | escape }}</a>
      </h3>
      
      <div class="card__price">
        {% render 'price', product: product %}
      </div>
    </div>
  </div>
</div>
